<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 나머지 환경설정 파일은 여기에 -->
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<!-- servlet에서 listener가 나오면 이벤트!! -->
		<!-- 위 context 하고 아래 context에 연관 -->
		<!-- 이것때문에 환경설정파일이 두개이상 정해질수 있는것!! -->
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>


	<!-- 한글의 기본처리 해주는곳 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<!-- 
		forceEncoding의 값이 true 이면 
		encoding의 값을 HttpServletRequest, HttpServletResponse 객체에 강제로 세팅해 준다. 
		forceEncoding의 값이 false 이면 
		HttpServletRequest, HttpServletResponse 객체의 값이 null 인 경우에만 encoding의 값으로 세팅해 준다. 
		-->
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>


	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<!-- 얘가 총 지배인을 담당함 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- web에 관련된 환경설정은 여기에 -->
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<!-- .do로 끝나는것들 기존의 /는 /를찾아감 -->
		<!-- form action="~~.do"들이 이거때매 찾아감 -->
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>
